In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df= pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
print(df.nunique())

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
df2 = {"sex":{"male":11,"female":12},"smoker":{"yes":13,"no":14},"region":{"southwest":15,"southeast":16,"northwest":17,"northeast":18}
    }

df2

{'sex': {'male': 11, 'female': 12},
 'smoker': {'yes': 13, 'no': 14},
 'region': {'southwest': 15,
  'southeast': 16,
  'northwest': 17,
  'northeast': 18}}

In [10]:
data =df.replace(df2)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [14]:
from sklearn.model_selection import train_test_split
training,test=train_test_split(data,test_size=0.3,random_state=43)

In [17]:
training.shape

(936, 7)

In [16]:
test.shape

(402, 7)

In [18]:
X_train = training["age"]

In [20]:
X_train.shape

(936,)

In [24]:
x_train=np.array(X_train)
x_train=x_train.reshape(936,1)
x_train.shape

(936, 1)

In [25]:
Y_train =training["charges"]
Y_train.shape

(936,)

In [28]:
y_train = np.array(Y_train)
y_train=y_train.reshape(936,1)
y_train.shape

(936, 1)

In [29]:
test.shape

(402, 7)

In [31]:
from sklearn.linear_model import LinearRegression
model=LinearRegression().fit(x_train,y_train)
print(model.coef_[0][0])
print(model.intercept_[0])
print("The linear model is Y={:.5}+{:.5}X".format(model.intercept_[0],model.coef_[0][0]))

244.93022619288644
3221.589756666397
The linear model is Y=3221.6+244.93X

In [35]:
X_test=test["age"]

In [37]:
X_test.shape

(402,)

In [39]:
x_test =np.array(X_test)
x_test=x_test.reshape(402,1)

In [40]:
Y_test = test["charges"]
Y_test.shape

(402,)

In [41]:
y_test =np.array(Y_test)
y_test=y_test.reshape(402,1)