In [5]:
import pandas as pd
import numpy as np
# df=pd.read_csv('spamData.csv')
df = pd.read_csv('spam.csv', encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
df.groupby('v1').describe()

        v2                                                                 \
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

     Unnamed: 2                                                            \
          count unique                                                top
v1
ham          45     39   bt not his girlfrnd... G o o d n i g h t . . .@"
spam          5      4                                        PO Box 5249

          Unnamed: 3                                    Unnamed: 4         \
     freq      count unique                    top freq      count unique
v1
ham     3         10      9                     GE    2          6      5
spam    2          2      1   MK17 92H. 450Ppw 16"    2          0      0


          top freq
v1
ham   GNT:-)"    2
spam      NaN  NaN

In [9]:
df['spam'] = df['v1'].apply(lambda x:1 if x=='spam' else 0)
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.v2,df.spam,test_size=0.2, random_state= 100)

In [14]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
clf = Pipeline(
[('vectorizer', CountVectorizer()),
("nb", MultinomialNB())]
)

In [15]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [16]:
clf.predict(X_test)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [17]:
clf.score(X_test,y_test)

0.9829596412556054

In [18]:
items = ['Confirm Funds sent to you ','Please confirm receipt of $500.00']
clf.predict(items)

array([0, 1], dtype=int64)